@model IEnumerable<WebApplication1.Controllers.DisAModel>

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>
@if (TempData != null && TempData["Success"] != null)
{
    if ((bool)TempData["Success"])
    {
        <div class="alert alert-success" role="alert">We did the thing &amp; @TempData["Name"] was added successfully</div>
    }
}

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
